# Application
API_PORT=3333
CORS_ORIGIN=*

# Docker Compose
COMPOSE_PROJECT_NAME=viops

# PostgreSQL local
POSTGRES_DB=viops
POSTGRES_USER=viops_dev
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

# Prisma
DATABASE_URL="postgresql://viops_dev:change_me@localhost:5433/viops?schema=public"
ALLOW_DESTRUCTIVE_SEED=true
